* {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-weight: 200;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0px;
  background-color: #9ee4ae;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.17em;
  font-weight: 300;
}

.box {
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #edf5e1;
}

.box-header {
  background-color: #389683;
  color: #f2f2f2;
  margin: 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-header h2 {
  margin: 0;
}

.box-content {
  padding: 0px 10px 0px 10px;
}
