.logo {
  margin-right: 0.8rem;
  height: 2.5rem;
  width: auto;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.logo-title {
  margin: 0;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: #5a5b62;
  opacity: 0.7;
  font-size: 1.5em;
  font-weight: 200;
}
