.title {
  font-style: 'normal';
  font-weight: 'bold';
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: #a4a6b3;
  opacity: 0.7;
}

.logo {
  height: 2.5rem;
  margin-right: 0.8rem;
  width: auto;
}
