.active-bar {
  position: absolute;
  height: 4rem;
  width: 0.3rem;
  left: 0;
  background-color: #5f7494;
}

.active-container {
  background-color: #82869e21;
}

.active-title {
  color: #5f7494;
}

.menu-container {
  cursor: pointer;
  height: 4rem;
  width: 100%;
  padding-left: 0.7rem;
}

.menu-container:hover {
  background-color: #969aae6b;
}

.menu-container:active {
  background-color: #82869e3f;
}

.menu-title {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  color: #a4a6b3;
  margin-left: 1rem;
}
