.sidebar {
  position: relative;
}

.main-container {
  height: 100%;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  width: 16rem;
  padding-top: 2rem;
  height: calc(100% - 32px);
}

.menu-item-list {
  margin-top: 2rem;
}

.burger-icon {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 2.1rem;
}

.separator {
  border-top: 1px solid #dfe0eb;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.06;
}
