.edit-workout {
  margin-left: 25px;
  margin-right: 2px;
}

.exercise-name {
  display: flex;
  justify-content: space-between;
}

.exercise-list {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.exercise-list li {
  margin-bottom: 15px;
}

.exercise-list h3 {
  margin: 0px;
  text-decoration: none;
}

.box-header-buttons > * {
  margin-left: 0.7rem;
}

.fa-circle,
.fa-check-circle {
  color: #5f7194f2;
}
