.exercise-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-buttons > * {
  margin-right: 1rem;
}

.exercise-description {
  margin-top: 0.5rem;
}

i:hover {
  cursor: pointer;
}

.exercise-name {
  font-size: 1.17em;
  font-weight: 300;
}
